header {
  background-color: black;
  color: yellow;
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(images/background1.jpg);
  width: 100%
}

.gameContainer {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px
}

.gameHeader {
  display: flex;
  justify-content: space-around;
  
}

.scoreCount {
  display: inline-block;
}

.numDisplay {
  color: yellow;
  background-color: black;
  border: 1px solid blue;
  padding: 3px 6px;
  text-align: center
}

.restart {
  background-color: aqua;
  box-shadow: 3px 3px 3px #282c34;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}

.menu {
  display: flex;
  justify-content: flex-end
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

