.initial {
    height: 35px;
    width: 35px;
    background-color: red;
    cursor: pointer
  }

.clicked, .empty {
    font-size: 1.3rem;
    height: 35px;
    width: 35px;
    background-color: whitesmoke;
    cursor: pointer
}

.rtClicked {
    height: 35px;
    width: 35px;
    background-color: goldenrod;
    cursor: pointer
}

.explosion, .mine {
    height: 35px;
    width: 35px;
    background-color: whitesmoke;
}